.Product {
    
    border: 1px solid white;
    border-radius: 20px;
    margin: 0.5rem ;
    min-height: 207px;
    /* padding: 1rem; */
    width: 180px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}



